@model KitchenModel

@{
    ViewData["Title"] = "Kitchen";
}

<div class="text-center">
    <h1 class="display-4">Kitchen</h1>
</div>

<div id="inputbar">
    <form asp-controller="Kitchen" asp-action="Index">
        <input type="search" placeholder="Enter date" name="date" />
    </form>
</div>
<div id="resultBox">

    @{
        int nAdultsBooked = 0, nChildrenBooked = 0, nAdultsCheckedIn = 0, nChildrenCheckedIn = 0;
        foreach (var booking in Model.BreakfastBookingsModels)
        {
            nAdultsBooked += booking.AdultCount;
            nChildrenBooked += booking.ChildCount;
        }
        foreach (var checkin in Model.CheckInsModels)
        {
            nAdultsCheckedIn += checkin.AdultCount;
            nChildrenCheckedIn += checkin.ChildCount;
        }

        int adultsRemaining = nAdultsBooked - nAdultsCheckedIn;
        int childrenRemaining = nChildrenBooked - nChildrenCheckedIn;

        <p>Today has @nAdultsBooked adults and @nChildrenBooked children booked for the breakfast buffet.</p>
        <p>@nAdultsCheckedIn and @nChildrenCheckedIn has arrived at the breakfast. Still waiting for the last @adultsRemaining adults and @childrenRemaining children.</p>
    }
</div>